.body-container-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 6em 4em;
}

.body-container-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 6em 2em;
}

.body-container-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5em;
}

.secondary-heading-text {
  font-size: 1.875rem;
  line-height: 1.5;
  font-family: multi-text, sans-serif;
  font-weight: 700;
}

.body-text-regular {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: multi-text, sans-serif;
}

.body-text-small {
  font-size: 0.8rem;
  font-family: multi-text, sans-serif;
}

.bold {
  font-weight: 700;
}

.quote-text {
  font-size: 2.4em;
  line-height: 1.2;
  font-family: adobe-caslon-pro, serif;
  font-style: italic;
}

.center-text {
  text-align: center;
}

.partner-text {
  font-size: 2.2em;
  font-weight: 700;
  font-family: multi-text, sans-serif;
}

.margin-bottom {
  margin-bottom: 1.5em;
}

.video-container {
  width: 600px;
  height: 300px;
  background-color: black;
}

@media only screen and (max-width: 480px) {
  .mobile-container {
    display: flex;
    flex-direction: column;
    margin: 4em;
    margin-bottom: 25%;
  }

  .secondary-heading-text {
    font-size: 250%;
  }

  .body-text-regular {
    font-size: 250%;
    margin-bottom: 15%;
  }

  .quote-text {
    font-size: 375%;
    margin-bottom: 25%;
  }

  .mobile-left {
    text-align: left;
  }

  .no-bottom-margin {
    margin-bottom: 0;
  }

  .partner-text {
    font-size: 375%;
  }

  .margin-top-lg {
    margin-top: 25%;
  }
  
  .body-text-small {
    font-size: 200%;
  }
}
