.body-container-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 6em 4em;
}

.body-container-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 6em 2em;
}

.body-container-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5em;
}

.secondary-heading-text {
  font-size: 1.875rem;
  line-height: 1.5;
  font-family: multi-text, sans-serif;
  font-weight: 700;
}

.body-text-regular {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: multi-text, sans-serif;
}

.body-text-small {
  font-size: 0.8rem;
  font-family: multi-text, sans-serif;
}

.bold {
  font-weight: 700;
}

.quote-text {
  font-size: 2.4em;
  line-height: 1.2;
  font-family: adobe-caslon-pro, serif;
  font-style: italic;
}

.center-text {
  text-align: center;
}

.partner-text {
  font-size: 2.2em;
  font-weight: 700;
  font-family: multi-text, sans-serif;
}

.margin-bottom {
  margin-bottom: 1.5em;
}

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos-container img {
  width: 150px;
}

@media only screen and (max-width: 480px) {
  .body-container-left {
    margin: 2em;
    height: 100vh;
  }

  .body-container-center {
    margin: 2em;
  }

  .body-container-bottom {
    margin: 2em;
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .video-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }


  .logos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
  }

  .secondary-heading-text {
    font-size: 150%;
  }

  .body-text-regular {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 125%;
  }

  .body-text-small {
    font-size: 100%;
  }

  .mobile-left {
    text-align: left;
  }


}
