/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
@import url("https://use.typekit.net/vmg2ave.css");
@import url("https://use.typekit.net/vmg2ave.css");

.body-container-left {
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin: 6em 0 4em 4.5em; */
  margin: 6em 4em;
}

.body-container-center {
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 6em 2em;
}

.body-container-bottom {
  /* height: 35vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

.secondary-heading-text {
  font-size: 1.875rem;
  /* font-size: 40px; */
  line-height: 1.5;
  font-family: multi-text, sans-serif;
  font-weight: 700;
}

.body-text-regular {
  font-size: 1.3rem;
  /* font-size: 32px; */
  font-weight: 400;
  font-family: multi-text, sans-serif;
}

.body-text-small {
  font-size: 0.8rem;
  /* font-size: 32px; */
  font-family: multi-text, sans-serif;
}

.bold {
  font-weight: 700;
}

.quote-text {
  font-size: 2.4em;
  line-height: 1.2;
  /* font-size: 61px; */
  font-family: adobe-caslon-pro, serif;
  font-style: italic;
}

.center-text {
  text-align: center;
}

.partner-text {
  /* font-size: 53px; */
  font-size: 2.2em;
  font-weight: 700;
  font-family: multi-text, sans-serif;
}

.margin-bottom {
  margin-bottom: 1.5em;
}

.video-container {
  width: 600px;
  height: 300px;
  background-color: black;
}

.footer {
  /* background-color: gray;
  margin-bottom: 1em;
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center; */
}
