@import url("https://use.typekit.net/vmg2ave.css");

.button-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 1.2em;
  border: 0.3em solid whitesmoke;
  font-family: multi-text, sans-serif;
  font-weight: 700;
  width: 18em;
  height: 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em 1em;
  cursor: pointer;
}

.button-primary {
  background-color: whitesmoke;
  color: #2f242c;
}

.button-primary p {
  margin: 0;
  padding: 0;
}

.button-primary:hover {
  background-color: transparent;
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.button-secondary {
  background-color: transparent;
  color: whitesmoke;
}

.button-secondary p {
  margin: 0;
  padding: 1em;
  font-size: 0.85em;
}

.button-secondary:hover {
  background-color: whitesmoke;
  color: #2f242c;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

/* .button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 1.2em;
  width: 16em;
  height: 3em;
  border: 0.3em solid whitesmoke;
  transition: all 0.3s ease 0s;
} */

/* .button-primary {
  background-color: whitesmoke;
  font-weight: 700;
  color: #2f242c;
} */

/* .button-secondary {
  color: whitesmoke;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 400;
} */
/* 
.button-primary:hover {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: none;
} */

/* .button-secondary:hover {
  background-color: whitesmoke;
  color: #2f242c;
  font-weight: 700;
} */

/* .button-primary-text {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: #2f242c;
}

.button-secondary-text {
  font-size: 0.75rem;
  white-space: pre-line;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: whitesmoke;
} */

/* .button-primary-text:hover {
  color: white;
  text-decoration: none;
}

.button-secondary-text:hover {
  color: black;
  text-decoration: none;
} */

@media only screen and (max-width: 480px) {
  .button-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    margin-left: 20%;
  }

  .button {
    width: 35rem;
    height: 7em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0.7em solid whitesmoke;
    border-radius: 2.2em;
  }

  .button-primary-text {
    font-size: 2.3rem;
  }

  .button-secondary-text {
    font-size: 1.7rem;
    margin: 1em;
  }
}
