.button-container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 1.2em;
  border: 0.3em solid whitesmoke;
  font-family: multi-text, sans-serif;
  font-weight: 700;
  width: 18.5em;
  height: 3.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.5em 1em;
  cursor: pointer;
}

.button-primary {
  background-color: whitesmoke;
  color: #2f242c;
}

.button-primary p {
  margin: 0;
  padding: 0;
}

.button-primary:hover {
  background-color: transparent;
  color: whitesmoke;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.button-secondary {
  background-color: transparent;
  color: whitesmoke;
}

.button-secondary p {
  margin: 0;
  padding: 1em;
  font-size: 0.85em;
}

.button-secondary:hover {
  background-color: whitesmoke;
  color: #2f242c;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 480px) {

  .button-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    width: 35rem;
    height: 7em;
    margin: 1em;
    border: 0.7em solid whitesmoke;
    border-radius: 2.2em;
  }

  .button p {
    font-size: 1.85em;
  }
}
