@import url("https://fonts.googleapis.com/css2?family=Sarina&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 5%;
}

.brand {
  margin: 0;
  font-family: "Sarina", cursive;
  font-size: 1.8em;
}

.header div {
  max-height: 10%;
  margin: 0;
  padding: 1.45rem 0;
}

.header-icons {
  padding: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.language-toggle {
  cursor: pointer;
  background: none;
  border: none;
  /* white-space: nowrap; */
}

.language-toggle:hover {
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .header-icons {
    display: none;
  }

  .header {
    display: none;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 1.5em;
  }

  .brand {
    margin-top: 1em;
    font-size: 3.5em;
  }
}
