.hero-container {
  height: 115vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.text {
  font-family: multi-text, sans-serif;
  font-style: normal;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: whitesmoke;
}

.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
  font-size: 300%;
}

@media only screen and (max-width: 480px) {
  .hero-container {
    max-width: 100vw;
    max-height: 80vh;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .visible-xs {
    display: block;
  }

  .text {
    text-align: center;
    letter-spacing: 3px;
    font-size: 200%;
  }
}
