@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://use.typekit.net/vmg2ave.css");

.hero-container {
  height: 115vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.text {
  font-family: multi-text, sans-serif;
  font-style: normal;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: whitesmoke;
}

.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
  font-size: 300%;
}

@media only screen and (max-width: 480px) {
  .hero-container {
    max-width: 90%;
    position: absolute;
    left: 56%;
    margin: 0;
    margin-top: 15em;
    display: block;
  }

  .hero-container h1 {
    white-space: normal;
    font-size: 4.8em;
    /* text-indent: 5px; */
  }

  .visible-xs {
    display: block;
  }

  .text {
    text-align: left;
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 700) {
    .hero-container h1 {
      border: 1px solid teal;
    }
  }
}
