.triangle-wrapper {
  position: relative;
}

.triangle {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: #8cc7f1;
  clip-path: polygon(0 14.5%, 0 71%, 100% 46%);
}

@media only screen and (max-width: 480px) {
  .triangle {
    width: 105%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: #8cc7f1;
    clip-path: polygon(0 18%, 0 40%, 100% 28%);
  }
}
